.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   

}
.titulo img{
    width: 130px;
}
h1{
    align-items: center;
}
img{
    align-items: center;
}


body{
    margin: 0px;
}


.postre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.postre img{
    width: 350px;
}
.postres2{
    display: flex;
    justify-content: center;  
    align-items: center;
    flex-direction:column;
}
.postres2 img{
    width: 500px;
}
.postres3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.postres3 img{
    width: 500px;
}
.piepagina{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

}
a{
    text-decoration: none;
    color: black;
}
nav a{
    font-weight: 600;
    padding: 10px;
}
nav a:hover{
    color: antiquewhite;
}